
$backgound-color: #33373E;
$body-text-color: #FFFFFF;
$bullet-color: #61DAFB;

.main {
    background-color: $backgound-color;
    color: $body-text-color;
    height: 400px;
    width: 550px;
    margin: 57px;
    margin-top: 0;
    // background: url("../assets/pngwing.com.png") repeat;
    // background-position: right 75%;
    // background-position-y: 75%;
    
}

// .sth {
//     height: 300px;
//     width: 300px;
//     po
// }

.elements {
    margin: 20px;
    margin-top: 0;
}

.main-title {
    margin-top: 0;
    padding-top: 50px;
}

.list {
    font-size: 15px;
    line-height: 30px;
}


li::marker {
    font-size: 1.4rem;
    color: $bullet-color;
}

