$backgound-color: #33373E;
$body-text-color: #FFFFFF;
$bullet-color: #61DAFB;

.main {
    background-color: $backgound-color;
    color: $body-text-color;
    height: 400px;
    width: 550px;
    margin: 57px;
    margin-top: 0;
}

.elements {
    margin: 20px;
    margin-top: 0;
}

.main-title {
    margin-top: 0;
    padding-top: 50px;
}

.list {
    font-size: 15px;
    line-height: 30px;
}

li{
    list-style: none;
}


li::before {
    content: "•"; 
    color: $bullet-color;
    display: inline-block; 
    width: 1.5em;
    
    margin-left: -1em
}