// @import url("../assets/pngwing.com.png");
$logo-text: #61DAFB;

@mixin course-title() {
    color: #DEEBF8;
    font-weight: 400;
    font-size: 13px;
}

.navbar {
    color: $logo-text;
    display: flex;
    // justify-content: space-between;
    background-color: #21222A;
    width: 550px;
    height: 91px;
    margin: 57px;
    margin-bottom: 0;
}

.logo-text {
    font-size: 20px;
    margin: 30px;
    margin-left: 0px;
}

.title {
    @include course-title;
    margin: 35px 35px 35px 150px;
}

img{
    width: 30px;
    height: 30px;
    margin: 25px 0px 30px 30px;
}

// alternative way
// nav {
//     display: flex;
//     align-items: center;
//     background-color: #21222A;
//     height: 90px;
//     padding: 30px 25px;
// }

// nav > h3, nav > h4 {
//     margin: 0;
// }

// nav > h3 {
//     margin-right: auto;
// }

// nav > img {
//     height: 30px;
//     margin-right: 7px;
// }