@import "navbar";
@import "main";

$navbar-color: #21222a;

$navbar-text-color: #deebf8;

* {
  font-family: "Inter", sans-serif;
}



.App {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
